/*
 * Colors
 */

// ILM wheel
$compost: #5e5547;
$orange: #f99d1c;
$yellow: #ffcd03;
$green: #009147;
$blue: #00344d;

// link
$link: #076b8e;

// footer
$dark-brown: #3f3933;

// section background
$section-bg: #f9fcf8;

// border
$border: #ddd;

$title-bottom-space: 1em;

$content-width: 1160px;
