/*
 * Colors
 */

// ILM wheel
$compost: #5e5547; // rgb(94,85,71)
$orange: #f99d1c;  // rgb(249,157,28)
$yellow: #ffcd03;  // rgb(255,205,3)
$green: #028843;   // rgb(2,136,67)
$green-hover: #006130;
$green-background: #f9fcf8; // rgb(249,252,248)
$blue: #00344d;    // rgb(0,52,77)

// link
$link: #076b8e;
$link-hover: #00344d;

// blue button hover (up arrow in footer)
$button: $link;
$button-hover: #358EAE;

// footer
$dark-brown: #3f3933;

// section background
$section-bg: $green-background;

// border
$border: #ddd;

// country below headshots (home page)
$gray: #333;

// screen shot background
$gray-light: #f6f6f6;

$title-bottom-space: 1em;

$content-width: 1160px;
