/*
 * Colors
 */

// ILM
$green: #78a659;
$grey: #716c65;
$brown: #99542b;
$yellow: #deb763;
$blue: #358eae;

// section background
$light-brown: #f2f2f0;

// footer
$dark-brown: #5e5547;

// boorder
$gray: #ddd;

$title-bottom-space: 1em;

$content-width: 1160px;
