@use "variables" as v;

@mixin ilm-color($color) {
	.output:hover {
		border-color: $color;
	}

	figcaption,
	.section-image {
		background-color: $color;
	}
}

.guide-template-default.tg-site-layout--stretched {
	.type-guide {
		background-color: v.$light-brown;
	}

	.entry-content,
	.guide-outputs,
	.guide-tools, {
		padding: 2em 0;
	}

	.guide-tools {
		padding-top: 4em;
	}

	.guide-outputs {
		h2 {
			display: flex;
			align-items: center;
		}
	}

	&:not(.guide-intro) {
		.entry-content {
			padding: 2em 0;
		}

		.guide-tools,
		.guide-outputs {
			padding: 6em 0;
		}

		.entry-content,
		.guide-tools,
		.guide-outputs {
			max-width: v.$content-width;
			margin: 0 auto;
		}
	}

	&.guide-ilm-output {
		.entry-content {
			padding-bottom: 6em;
		}
	}

	&.guide-intro {

		// remove grey blob at bottom of page (above footer)
		.entry-content {
			padding-bottom: 0;

			// add white space before footer
			div:last-child {
				padding-bottom: 8em;
			}
		}

		.intro-text {
			margin: 6em 0;

			a {
				color: v.$blue;
			}

			+ div {
				padding-top: 6em;
			}
		}
	}

	.output-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4em;
	}

	.breadcrumbs {
		margin: 1em 0 2em;

		a {
			text-decoration: none;
			color: v.$blue;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			margin: 0;
			list-style: none;
		}

		li {
			display: inline-block;

			+li {
				padding-left: 0.3em;
			}

			+ li::before {
				padding-right: 0.3em;
				content: " / ";
			}
		}
	}

	.tool {
		margin: 5em auto;
		padding: 2em 2em 0 7em;
		border: 1px solid v.$gray;
		border-radius: 1em;

		h3 {
			font-weight: 700;
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			margin: 1em 0;
		}

		a {
			color: v.$dark-brown;
			text-decoration: none;

			&:hover {
				color: v.$blue;
				text-decoration: underline;
			}
		}

		.link,
		.pdf {
			position: absolute;
			margin-left: -5em;
		}
	}

	.intro-element {
		h2 {
			font-size: 1.75rem;

			a {
				color: white;
				text-decoration: none;

				&:hover {
					color: white;
					text-decoration: underline;
				}
			}
		}

		p {
			font-size: 1.25rem;
		}

		> div {
			min-height: 13em;
		}

		ol {
			font-size: 1.25rem;
			list-style: none;
			margin: 2em;
			text-indent: -7.2rem;
			margin-left: 9rem;
			line-height: 2rem;

			li {
				margin-bottom: 1em;
			}
		}
	}

	.output {
		border-width: 1px;
		border-style: solid;
		border-radius: 1em;
		border-color: v.$gray;
		padding: 2em 1.5em;
		display: grid;
		grid-template-rows: 5em 1fr 1em;

		a {
			color: v.$dark-brown;
		}

		p {
			font-weight: 400;
		}

		a:hover,
		h3 a:hover {
			color: v.$blue;
			text-decoration: underline;
		}

		summary {
			display: flex;
			justify-content: space-between;
			cursor: pointer;

			&::after {
				vertical-align: middle;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='0' fill='none' width='20' height='20'/%3E%3Cg%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7z'/%3E%3C/g%3E%3C/svg%3E");
				width: 15px;
				height: 15px;
				background-repeat: no-repeat;
				background-position: center;
				display: inline-block;
			}
		}

		details[open] summary::after {
			transform: rotate(180deg);
		}

		h4 {
			font-family: Montserrat, sans-serif;
			font-weight: 600;
			font-size: 14px;
		}
	}

	.tag {
		display: inline-block;
		background-color: v.$green;
		color: white;
		border-radius: 2em;
		padding: 0.5em 1em;

		p {
			margin-top: 1.5em;
			margin-left: auto;
			line-height: 21px;
			color: v.$dark-brown;
		}

		+ .tag {
			margin-left: 1em;
		}
	}

	.element-toc {
		// need to constrain the inner container; outer container must be 100% so the background stays white
		> div {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2em;
			max-width: v.$content-width;
			margin: 0 auto;

			// list links
			ol {
				a {
					text-decoration: none;
					color: v.$blue;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			> div:first-child {
				grid-column: span 2;

				ol {
					max-width: 600px;
					margin: 2em auto;
				}
			}

			> div:nth-child(n+2) {
				grid-column: span 1;
				margin-top: 0;
			}

			> div:nth-child(1) {
				border-color: v.$dark-brown;
			}

			> div:nth-child(2) {
				border-color: v.$brown;
			}

			> div:nth-child(3) {
				border-color: v.$yellow;
			}

			> div:nth-child(4) {
				border-color: v.$green;
			}

			> div:nth-child(5) {
				border-color: v.$blue;
			}
		}
	}

	figcaption {
		color: white;
		font-size: 14px;
		line-height: 21px;
		padding: 1em;
		background-color: v.$dark-brown;
	}

	.section-image {
		border-radius: 1em;
		height: 58px;
		width: 58px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 0.5em;

		svg {
			height: 50px;
			width: 50px;

			path {
				fill: #fff !important;
			}

			vertical-align: middle;
		}
	}

	&.guide-shared-understanding,
	&.parent-shared-understanding {
		@include ilm-color(v.$brown);
	}

	&.guide-impact-and-learning,
	&.parent-impact-and-learning {
		@include ilm-color(v.$blue);
	}

	&.guide-vision-and-planning,
	&.parent-vision-and-planning {
		@include ilm-color(v.$yellow);
	}

	&.guide-taking-action,
	&.parent-taking-action {
		@include ilm-color(v.$green);
	}

	&.guide-landscape-partnership,
	&.parent-landscape-partnership {
		@include ilm-color(v.$dark-brown);
	}

	.wp-block-columns {
		padding: 0;
	}

	#main {
		h1 {
			font-size: 30px;
			font-weight: 700;
			border-bottom: none;
			display: flex;
			align-items: center;
		}
	}

	.read-more {
		font-weight: 700;
	}
}
