@use "variables" as v;

/****************************************************************
  * Buttons
  */
.wp-block-buttons .wp-block-button .wp-block-button__link {
	background-color: v.$green;
	padding: 12px 25px;
	color: white;
	text-decoration: none;
	font-size: 1.2em;

	&:hover {
		background-color: v.$green-hover;
		text-decoration: none;
		color: white;
	}
}

.login-join {
	.wp-element-button {
		border-radius: 4px;
	}

	p {
		margin-top: 0;
	}
}

/****************************************************************
  * Content well
  */

#content.site-content {
	margin: 0;
	padding: 0;
}

/* remove whitespace below main content area */
#zak-primary {
	padding-right: 0;
	padding-bottom: 0;
}

.zak-content .zak-row {
	padding-bottom: 0;
}

/* add margins around page content */
.wp-block-group__inner-container {
	max-width: 1140px;
	margin: auto;
	padding: 50px 0;

	/* provide for margins on screens smaller than 1240px */
	@media screen and (min-width: 768px) {
		width: 80%;
	}
}

/* light green background */
.wp-block-columns.has-bg,
.wp-block-group.has-bg {
	background-color: v.$section-bg;
}

.entry-content > div:not(.full-bleed),
.hero-image .wp-block-columns,
.full-bleed:not(.hero-image) > *,
.zak-header-sticky-wrapper .zak-top-bar-container {
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width:992px) {
		max-width: 100%;
	}
}


/****************************************************************
  * Header
  */
#primary-menu .menu-item {
	// need to override Zakra styles
	a {
		text-decoration: none;
	}

	&.current_page_item > a {
		color: v.$green;
		border-bottom: 4px solid v.$green;
	}

	&.zak-header-button-one a {
		&:hover {
			background: v.$blue;
			color: white;
		}
	}
}

.zak-header {
	box-shadow: rgba(0, 0, 0, 10%) 0 3px 4px 0;
	margin-bottom: 4px;
}

.zak-site-header-bottom {
	padding-left: 0;
	padding-right: 0;

	// match hamburger menu
	@media screen and (max-width: 1002px) {
		margin-left: 10px;
	}
}

/* remove big gap on left of menu causing it to break into 2 on tablet */
.zak-site-header--left .zak-block--two {
	margin-left: 0 !important;
}

header {
	&.zak-page-header.zak-page-header--left-right {
		padding: 120px 0;
	}

	/* recipe: ensure headline stays flush left */
	.uag-toc__heading-anchor {
		display: none;

		+ .zak-page-header__title {
			margin-bottom: v.$title-bottom-space;
		}
	}
}

.zak-header-sticky-wrapper .zak-top-bar-container {
	padding-left: 2em;
	padding-right: 2em;

	@media screen and (min-width: 1300px) {
		.custom-logo {
			margin-left: -64px;
		}
	}
}

.zak-mobile-navigation li.menu-item-has-children .zak-submenu-toggle::after {
	font-size: 15px;
}


/****************************************************************
  * Footer
  */
.zak-footer {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin-bottom: 0.5em;
	}

	// copyright line
	.zak-site-footer-bar {
		font-size: 0.8rem;
	}

	.zak-footer-col {
		gap: 0;
		display: block; // flex prevents social media icons' display-inline from working

		h3 {
			border-bottom: none;

			&::before {
				display: none; // hide bottom bar
			}
		}
	}

	// social media icons
	section.widget_media_image {
		display: inline-block;

		& + section.widget_media_image figure {
			margin-left: 0.5rem;
		}
	}

	section {
		margin-bottom: 0;
	}

	.zak-footer-widget-container > div:first-child {
		h3 {
			@media screen and (max-width: 768px) {
				margin-top: 0;
			}
		}
	}

	h3 {
		color: white;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: bold;

		@media screen and (max-width: 768px) {
			margin-bottom: 0.5rem;
			margin-top: 3rem;
		}
	}
}

.zak-scroll-to-top {
	background-color: v.$button;

	&:hover {
		background-color: v.$button-hover;
	}
}

.zak-icon-arrow-up::after {
	content: "\f106";
	font-weight: bold;
	font-size: 20px;
	font-family: fontAwesome, sans-serif !important;
}

/****************************************************************
  * General
  */

/* page layout; stick footer to bottom of viewport */
div#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	overflow: auto;
}

.entry-content {
	a {
		color: v.$link;
		text-decoration: underline;

		&:hover {
			color: v.$link-hover;
		}
	}
}

.site-main .zak-page-header,
.wp-block-columns {
	h1 {
		font-weight: bold;
		font-size: 2.2rem;
	}
}

.search,
.single-post {
	.site-main h1 {
		margin-bottom: v.$title-bottom-space;
	}
}

.wp-block-columns {
	p.what-terraso-is,
	h2.intro-subhead {
		font-size: 1.4rem;
	}

	// roundeed boxes with shadows
	&.key-funding .wp-block-column,
	&.our-values .wp-block-column {
		border: 1px solid v.$border;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 15%);
		margin: 5px;
		padding: 25px 20px;
		border-radius: 8px;
	}

	&.key-funding .wp-block-column {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.our-values .wp-block-column {
		img {
			max-height: 60px;
		}
	}

	&.key-funding .wp-block-column + .wp-block-column {
		margin-left: 20px;

		@media screen and (max-width: 768px) {
			margin-left: 0;
		}
	}
}

.slug-toolkit, // en fr
.slug-kit-de-herramientas, // es
.slug-kit-de-ferramentas { // pt
	img[src$='.png'] {
		border: 1px solid v.$border;
	}
}

.slug-toolkit, // en fr
.slug-kit-de-herramientas, // es
.slug-kit-de-ferramentas, // pt
.slug-project, // en
.slug-programme, // fr
.slug-programa, // es pt
 {
	.entry-content {
		img[src$='.png'],
		img[src$='.jpg'] {
			border-radius: 4px;
		}
	}
}

.slug-faq, // en fr
.slug-preguntas-frecuentes, // es
.slug-perguntas-frequentes, // pt
.slug-toolkit, // en fr
.slug-kit-de-herramientas, // es
.slug-kit-de-ferramentas { // pt
	.entry-content {
		h2, h3 {
			scroll-margin-top: 102px;
		}

		.simpletoc-title {
			text-transform: uppercase;
			font-size: 1rem;
			margin-top: 1rem;
		}

		.simpletoc-list {
			list-style: none;
			margin-left: 0;
			font-size: 1.4rem;

			li {
				line-height: 2;
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.slug-help, // en
.slug-ayuda, // es
.slug-landscapes, // en
.slug-paysages, // fr
.slug-paisajes, // es
.slug-paisagens, // pt
.slug-faq, // en fr
.slug-preguntas-frecuentes, // es
.slug-perguntas-frequentes { // pt
	.entry-content {
		h2 {
			margin-top: 6rem;
			font-weight: bold;
		}

		h3 {
			font-size: 1.5rem;

			+ p {
				margin-block-start: 0;
			}
		}

		ul {
			margin-top: 0;
		}
	}
}

/****************************************************************
  * Archive pages
  */
.archive-description a,
.author-description a {
	color: v.$dark-brown;
	text-decoration: underline;
}

.nav-previous a,
.nav-next a {
	color: v.$dark-brown;
}

// author archive: space below title
.author {
	.archive-description,
	.zak-page-header__title {
		margin-bottom: v.$title-bottom-space;
	}
}

// blog index page
.content-area {
	.zak-meta-style-two .entry-meta .posted-on::before,
	.zak-meta-style-two .entry-meta .byline::before {
		content: none;
	}
}

/****************************************************************
  * Toolkit page
  */
.data-collection-image {
	img {
		background-color: v.$gray-light;
	}
}

/****************************************************************
  * Project page
  */
.wp-block-group.core-partners-logos {
	flex-wrap: wrap;
	margin-bottom: 48px;

	@media screen and (max-width: 1024px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;

		figure.wp-block-image.aligncenter {
			text-align: left;
		}
	}
}

/****************************************************************
  * Home page
  */
.home {
	// workaround Zakra bug where you can't hide header on home page
	h1.entry-title {
		display: none;
	}

	.announcement {
		// this is media + text and doesn't have the same padding by default.
		// match column padding.
		> * {
			padding-left: 32px;
			padding-right: 32px;
		}

		&.full-bleed > * {
			margin-top: 0;
			margin-bottom: 0;
		}

		h2 {
			img {
				margin-top: -0.3rem;
			}
		}

		.wp-block-media-text__content {
			padding-left: 2rem;
		}

		@media screen and (max-width: 768px) {
			.wp-block-media-text__content {
				margin-top: 2rem;
				padding-left: 0;
			}
		}
	}

	.hero-image {
		a {
			color: white;

			&:hover {
				color: white;
			}
		}

		@media screen and (max-width: 768px) {
			padding-left: 0;
			padding-right: 0;

			.login-join {
				padding-left: 0;
			}
		}
	}

	// remove space below image / above footer
	.wp-block-image.intro-footer-image {
		margin-bottom: 0;
	}
}

/****************************************************************
  * ILM overview
  */
.ilm-group {
	h3 {
		height: 100px;
		display: flex;
		align-items: center;

		@media screen and (max-width: 490px) {
			clear: both;
		}
	}

	p {
		clear: left;
	}

	.wp-block-group {
		padding: 20px;
		border-left: 3px solid;

		.wp-block-group__inner-container {
			padding: 0;
		}

		&:nth-child(1) h3 {
			color: v.$compost;
		}

		&:nth-child(2) h3 {
			color: v.$orange;
		}

		&:nth-child(3) h3 {
			color: v.$yellow;
		}

		&:nth-child(4) h3 {
			color: v.$green;
		}

		&:nth-child(5) h3 {
			color: v.$blue;
		}
	}
}

.ilm-list li {
	margin: 0 0 5px;
	padding: 5px 0 5px 15px;
	border-style: solid;
	border-width: 0 0 0 3px;
	box-shadow: 2px 2px 2px 2px rgba(227, 227, 227, 50%);
}

.ilm-group .wp-block-group:nth-child(1),
.ilm-list li:nth-child(1) {
	border-color: v.$compost;
}

.ilm-group .wp-block-group:nth-child(2),
.ilm-list li:nth-child(2) {
	border-color: v.$orange;
}

.ilm-group .wp-block-group:nth-child(3),
.ilm-list li:nth-child(3) {
	border-color: v.$yellow;
}

.ilm-group .wp-block-group:nth-child(4),
.ilm-list li:nth-child(4) {
	border-color: v.$green;
}

.ilm-group .wp-block-group:nth-child(5),
.ilm-list li:nth-child(5) {
	border-color: v.$blue;
}

/****************************************************************
/* override zakra */

.zak-mobile-navigation li.menu-item-has-children.submenu--show > ul {
	overflow-y: hidden;
}

.ilm-list {
	list-style: none;
}

.wp-block-group {
	.wp-block-image {
		figcaption {
			text-align: left;
		}

		&.ilm-wheel {
			figcaption {
				text-align: center;
				margin-right: 1em; // parent wp-block-image has 1em right margin
			}
		}
	}

	// home page
	&.who-terraso-is-for {
		img {
			border-radius: 50%;
		}

		.who-terraso-is-for-header {
			padding-bottom: 0;
		}

		.terraso-users {
			div:nth-child(odd) {
				> div {
					padding-left: 4%;
				}
			}

			p {
				font-size: 14px;
				margin-bottom: 0;
			}

			.country {
				text-transform: uppercase;
				color: v.$gray;
			}

			@media screen and (max-width: 768px) {
				/* the important ooverrides inline styles from the block editor */
				> div {
			    grid-template-columns: 1fr 1fr ! important;
			    margin-left: 0 ! important;

					figure {
						width: 224px;
					}

					div {
						padding-left: 0;
					}
				}
			}
		}
	}

	&.how-it-works {
		ul {
			list-style: none;
			margin-left: 0;
		}
	}

	&.toolkit-concepts {
		.wp-block-column {
			background-color: v.$section-bg;
			border: 1px solid v.$border;
			border-radius: 8px;
			padding: 2rem;
		}
	}

	&.mobile-header {
		padding: 0;

		.wp-block-image {
			margin: 0;
		}

		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	&.contact-form {
		h3 {
			margin: 0;

			+ p {
				margin-block-start: 0;
			}
		}
	}
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none;
}

.hidden-mobile {
	visibility: hidden;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.zak-error-404 {
	font-size: 2em;

	.zak-search-form {
		.zak-search-field-label {
			border-radius: 1em;
		}

		.zak-search-field {
			padding-left: 1em;

			&:focus {
				color: black;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.wp-block-group {
		padding-left: 30px;
		padding-right: 30px;
	}

	.wp-block-image .alignright {
		float: none;
	}

	.wp-block-columns.our-values .wp-block-column + .wp-block-column {
		margin-top: 20px;
	}

	.page #content .zak-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 768px) {
	.zak-header-action-list .zak-header-action__item.zak-mobile-toggle .zak-icon-bars {
		padding-left: 5px;
	}
}

@media screen and (min-width: 992px) {
	#text-2 {
		padding-left: 70px !important;
	}
}

@media screen and (max-width: 1024px) {
	.wp-block-columns .platform-title {
		padding-top: 30px;
		padding-bottom: 30px;

		/* override the wp core style which already has an ! important in it */
		.entry-content & {
			flex-basis: 100% !important;
		}

		hr {
			display: none;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wp-block-columns {
		.platform-title {
			flex-grow: 1;
		}
	}
}
