@use "variables" as v;

@mixin blue-link() {
	color: v.$link;
	text-decoration: underline;

	&:hover {
		color: v.$link-hover;
	}
}

.entry-content {
	a {
		@include blue-link();
	}
}

/* add margins around page content */
.wp-block-group__inner-container {
	max-width: 1140px;
	margin: auto;
	padding: 50px 0;

	/* provide for margins on screens smaller than 1240px */
	@media screen and (min-width: 768px) {
		width: 80%;
	}
}

/* light green background */
.wp-block-columns.has-bg,
.wp-block-group.has-bg {
	background-color: v.$section-bg;
}

/**
  * Buttons
  */
.wp-block-button .wp-block-button__link {
	background-color: v.$green;
	padding: 12px 25px;
	color: white;
	text-decoration: none;
	font-size: 1.2em;

	&:hover {
		background-color: v.$green-hover;
		text-decoration: none;
		color: white;
	}
}

.login-join {
	.wp-element-button {
		border-radius: 4px;
	}

	p {
		margin-top: 0;
	}
}

/**
  * Home page
  */
.wp-block-image.intro-footer-image {
	margin-bottom: 0;
}

/**
  * Header
  */
#primary-menu .menu-item {
	// need to override Zakra styles
	a {
		text-decoration: none;
	}

	&.current_page_item > a {
		color: v.$green;
		border-bottom: 4px solid v.$green;
	}

	&.current_page_ancestor .current_page_item a {
		border-bottom: none;
		color: inherit;
	}

	&.tg-header-button-one a {
		&:hover {
			background: v.$blue;
			color: white;
		}
	}
}

/**
  * General
  */
.wp-block-columns {
	h1 {
		font-weight: bold;
		font-size: 2.2rem;
	}

	p.what-terraso-is,
	h2.intro-subhead {
		font-size: 1.4rem;
	}

	// roundeed boxes with shadows
	&.key-funding .wp-block-column,
	&.our-values .wp-block-column {
		border: 1px solid v.$border;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 15%);
		margin: 5px;
		padding: 25px 20px;
		border-radius: 8px;
	}

	&.key-funding .wp-block-column {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.our-values .wp-block-column {
		img {
			max-height: 60px;
		}
	}

	&.key-funding .wp-block-column + .wp-block-column {
		margin-left: 20px;
	}
}

.slug-toolkit,
.slug-project {
	.entry-content {
		img[src$='.png'],
		img[src$='.jpg'] {
			border-radius: 4px;
		}
	}
}

.slug-landscapes,
.slug-faq {
	.entry-content {
		h2 {
			margin-top: 6rem;
			font-weight: bold;
		}

		h3 {
			font-size: 1.5rem;

			+ p {
				margin-block-start: 0;
			}
		}

		ul {
			margin-top: 0;
		}
	}
}

.search,
.single-post {
	.site-main h1 {
		margin-bottom: v.$title-bottom-space;
	}
}

/**
  * Toolkit page
  */
.data-collection-image {
	img {
		background-color: v.$gray-light;
	}
}


/**
  * Project page
  */
.wp-block-group.core-partners-logos {
	flex-wrap: wrap;
	margin-bottom: 48px;

	@media screen and (max-width: 1024px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;

		figure.wp-block-image.aligncenter {
			text-align: left;
		}
	}
}

.sticky-header,
.tg-site-header-bottom {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 10%) !important;
}

.tg-icon-arrow-up::after {
	content: "\f106";
	font-weight: bold;
	font-size: 20px;
	font-family: fontAwesome, sans-serif !important;
}

/* remove big gap on left of menu causing it to break into 2 on tablet */
.tg-site-header--left .tg-block--two {
	margin-left: 0 !important;
}

.archive-description a,
.author-description a {
	color: v.$dark-brown;
	text-decoration: underline;
}

.nav-previous a,
.nav-next a {
	color: v.$dark-brown;
}

.tg-mobile-navigation li.menu-item-has-children.submenu--show > ul {
	overflow-y: hidden;
}

.tg-site-footer {
	a {
		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin-bottom: 0.5em;
	}

	// copyright line
	.tg-site-footer-bar {
		font-size: 0.8rem;
	}

	// social media icons
	section.widget_media_image {
		display: inline-block;

		& + section.widget_media_image figure {
			margin-left: 0.5rem;
		}
	}

	section {
		margin-bottom: 0;
	}

	h3 {
		color: white;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
	}

	.tg-site-footer {
		margin: 5rem 0;
	}
}

header.tg-page-header.tg-page-header--left-right {
	padding: 120px 0;
}

.tg-container.tg-container--flex.tg-container--flex-center.tg-container--flex-space-between h1 {
	border-bottom: 3px solid v.$dark-brown;
	padding-bottom: 8px;
}

.tg-mobile-navigation li.menu-item-has-children .tg-submenu-toggle::after {
	font-size: 15px;
}

/* override zakra */

#content.site-content {
	margin: 0;
	padding: 0;
}

.ilm-list {
	list-style: none;
}

.wp-block-group {
	&.who-terraso-is-for {
		img {
			border-radius: 50%;
		}

		.who-terraso-is-for-header {
			padding-bottom: 0;
		}

		.terraso-users {
			p {
				margin-bottom: 0;
			}

			.country {
				text-transform: uppercase;
				color: v.$gray;
			}
		}
	}

	&.how-it-works {
		ul {
			list-style: none;
			margin-left: 0;
		}
	}

	&.toolkit-concepts {
		.wp-block-column {
			background-color: v.$section-bg;
			border: 1px solid v.$border;
			border-radius: 8px;
			padding: 2rem;
		}
	}

	&.mobile-header {
		padding: 0;

		.wp-block-image {
			margin: 0;
		}

		.wp-block-group__inner-container {
			padding: 0;
		}
	}

	&.contact-form {
		h3 {
			margin: 0;
		}

		.wp-block-table {
			td {
				border: none;
				padding-right: 0;
			}

			tr td:first-child {
				text-align: right;
				vertical-align: top;
				width: 37px;
			}
		}

		svg {
			width: 37px;
			height: auto;

			path {
				fill: v.$green;
			}
		}
	}

	&.green-group .wp-block-column:first-child {
		border-right: 3px solid v.$green;
		padding-right: 1.5em;
	}
}

.ilm-group {
	h3 {
		height: 100px;
		display: flex;
		align-items: center;
	}

	p {
		clear: left;
	}

	.wp-block-group {
		padding: 20px;
		border-left: 3px solid;

		.wp-block-group__inner-container {
			padding: 0;
		}

		&:nth-child(1) h3 {
			color: v.$compost;
		}

		&:nth-child(2) h3 {
			color: v.$orange;
		}

		&:nth-child(3) h3 {
			color: v.$yellow;
		}

		&:nth-child(4) h3 {
			color: v.$green;
		}

		&:nth-child(5) h3 {
			color: v.$blue;
		}
	}
}

.ilm-list li {
	margin: 0 0 5px;
	padding: 5px 0 5px 15px;
	border-style: solid;
	border-width: 0 0 0 3px;
	box-shadow: 2px 2px 2px 2px rgba(227, 227, 227, 50%);
}

.ilm-group .wp-block-group:nth-child(1),
.ilm-list li:nth-child(1) {
	border-color: v.$compost;
}

.ilm-group .wp-block-group:nth-child(2),
.ilm-list li:nth-child(2) {
	border-color: v.$orange;
}

.ilm-group .wp-block-group:nth-child(3),
.ilm-list li:nth-child(3) {
	border-color: v.$yellow;
}

.ilm-group .wp-block-group:nth-child(4),
.ilm-list li:nth-child(4) {
	border-color: v.$green;
}

.ilm-group .wp-block-group:nth-child(5),
.ilm-list li:nth-child(5) {
	border-color: v.$blue;
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none;
}

.hidden-mobile {
	visibility: hidden;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

/* workaround Zakra bug where you can't hide header on home page */
.home {
	h1.entry-title {
		display: none;
	}

	.announcement {
		h2 {
			img {
				margin-top: -0.3rem;
			}
		}
	}

	.hero-image {
		a {
			color: white;
		}
	}
}

/* remove whitespace below main content area */
#primary {
	.entry-content {
		margin-bottom: 0;
	}

	.page.hentry {
		margin-bottom: 0;
	}
}

.error-404 {
	margin: 2em 0;
	font-size: 2em;

	.search-field {
		border-radius: 1em;
	}

	.search-form label::before {
		content: none;
	}
}

/* author archive: space below title */
.author {
	.archive-description,
	.tg-page-header__title {
		margin-bottom: v.$title-bottom-space;
	}
}

/* recipe: ensure headline stays flush left */
header .uag-toc__heading-anchor {
	display: none;

	+ .tg-page-header__title {
		margin-bottom: v.$title-bottom-space;
	}
}

/* blog index page */
.content-area {
	.tg-meta-style-two .entry-meta .posted-on::before,
	.tg-meta-style-two .entry-meta .byline::before {
		content: none;
	}
}

/* page layout; stick footer to bottom of viewport */
div#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	overflow: auto;
}

@media screen and (max-width: 768px) {
	.wp-block-group {
		padding-left: 30px;
		padding-right: 30px;
	}

	.wp-block-image .alignright {
		float: none;
	}

	.wp-block-columns.our-values .wp-block-column + .wp-block-column {
		margin-top: 20px;
	}

	.page #content .tg-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 768px) {
	.tg-header-action-list .tg-header-action__item.tg-mobile-toggle .tg-icon-bars {
		padding-left: 5px;
	}
}

@media screen and (min-width: 992px) {
	#text-2 {
		padding-left: 70px !important;
	}
}

@media screen and (max-width: 1024px) {
	.wp-block-columns .platform-title {
		padding-top: 30px;
		padding-bottom: 30px;

		/* override the wp core style which already has an ! important in it */
		.entry-content & {
			flex-basis: 100% !important;
		}

		hr {
			display: none;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wp-block-columns {
		.platform-title {
			flex-grow: 1;
		}
	}
}
